<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huangweicai.mycamera">

    <application
        android:name="com.example.huangweicai.mycamera.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity">
        </activity>
    </application>


    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--请求访问使用照相设备·使用多选相册中的照相机，这里不要写这个权限，莫名闪出-->
    <!--<uses-permission android:name="android.permission.CAMERA" />
-->

</manifest>